extends layout

block content
  header.row
    .small-12.columns
      ul.breadcrumbs
        li
          a(href='#') Wikimedia Foundation
        li.current
          a 431 already voted
        li.current
          a(href='/') Started by Rodrigo Ochigame
        li.current
          a Ends in 15 days
        li.current
          a Total budget: $50,000
  .row
    .small-12.columns#question
      h3 Budget: Wikimedia Retributions 2012
      p Help us retribute our awesome contributors. Our budget for this year is $50,000.
  .row
    .small-4.columns
      dl.sub-nav
        dt Items:
        dd.new-tab
          a(href='#') New
        dd.unvoted-tab.active
          a(href='#') Unvoted
        dd.results-tab
          a(href='#') Partial results
    .small-2.columns
      p
        a(href='#', data-reveal-id='new-proposal').new-proposal-button.small.secondary.button.radius New item
    .small-6.columns
      h5.center Your voted items
  .row#proposal-container
    .small-6.columns
      #proposal-list
    .small-6.columns
      #proposal-list-budget
  .reveal-modal.large#new-proposal
    h4 Propose a new budget item
    label
    p
      label(for='title') Title
        input(type='text', placeholder='Title')
    p
      label(for='proposal') Description
        textarea(placeholder='Describe your item')
    p
      a(href='#', data-reveal-id='new-proposal').new-proposal-button.small.button.radius Submit

block scripts
  script(src='/js/decision.js')
  script(src='/js/budget.js')