extends layout

block content
  header.row
    .small-6.small-centered.columns
      h3
        | Ask 
        = groupName
      form(method='POST', action='/decision/start')
        p
          label(for='title') Question
            input(type='text', value='', name='title', placeholder='Example: What to do with the parking lot on Ridge?')
        p
          label(for='description') Description
            textarea(placeholder='Example: We should replace the empty parking lot on Ridge Road with something else. Suggestions?', name='description')
        p
          input(type='submit', value='Submit').small.button.radius