extends layout

block content
  header.row
    .small-12.columns
      ul.breadcrumbs
        li
          a(href='#') Casa Zimbabwe
        li.current
          a 38 already voted (55%)
        li.current
          a(href='/') Started by Carl Sagan
        li.current
          a Ends in 4 days
  .row
    .small-8.columns#question
      h3 What to do with the empty lot in Ridge?
      p Let's replace the empty parking lot on Ridge Road with a good public space.
    .small-4.columns#info
  .row
    .small-4.columns
      dl.sub-nav
        dt Proposals:
        dd.new-tab
          a(href='#') New
        dd.unvoted-tab.active
          a(href='#') Unvoted
        dd.results-tab
          a(href='#') Partial results
    .small-2.columns
      p
        a(href='#', data-reveal-id='new-proposal').new-proposal-button.small.secondary.button.radius New proposal
    .small-6.columns
      h5.center Your ranked votes
  .row#proposal-container
    .small-6.columns
      #proposal-list
    .small-6.columns
      #proposal-list-yes
      .proposal.panel.remaining
        p ...
      #proposal-list-no
  .reveal-modal.large#new-proposal
    h4 New proposal
    label
    p
      label(for='title') Title
        input(type='text', placeholder='Title')
    p
      label(for='proposal') Proposal
        textarea(placeholder='Propose a new option')
    p
      a(href='#', data-reveal-id='new-proposal').new-proposal-button.small.button.radius Submit

block scripts
  script(src='/js/decision.js')
  script(src='/js/general.js')