extends layout

block content
  nav.top-bar
    ul.title-area
      li.name
        h1
          a(href='#') Rhizome
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul.right
        li.divider.hide-for-small
        li.has-dropdown
          a(href='#') Groups
          ul.dropdown
            li
              a(href='#') Casa Zimbabwe
            li
              a(href='#') UC Berkeley
        li.divider.hide-for-small
        li.has-dropdown
          a(href='#') Decisions
          ul.dropdown
            li
              label Active
            li
              a(href='#') What to do with the empty lot in Ridge?
            li
              label Ended
            li
              a(href='#') Who should be the President of CZ?

  header.row
    .small-12.columns
      ul.breadcrumbs
        li
          a(href='#') Home
        li
          a(href='#') USA
        li
          a(href='#') California
        li
          a(href='#') Berkeley
        li.current
          a(href='#') What to do with the empty lot in Ridge?
  .row
    .small-8.columns#question
      h4 What to do with the empty lot in Ridge?
      p Let's replace the empty parking lot on Ridge Road with a good public space.
    .small-4.columns#info
      span
        | Started by 
        a(href='#') Carl Sagan
        | <br />
      span Ends in 4 days<br />
      span
        a(href='#') 42 participants
  .row
    .small-4.columns
      dl.sub-nav
        dd.new-tab
          a(href='#') New
        dd.unvoted-tab.active
          a(href='#') Unvoted
        dd.results-tab
          a(href='#') Partial results
    .small-2.columns
      p
        a(href='#', data-reveal-id='new-option').new-option-button.small.button.radius New option
    .small-6.columns
      h4.ranked-votes Your ranked votes
  .row#option-container
    .small-6.columns
      #option-list
    .small-6.columns
      #option-list-yes
      .option.remaining
        p (unvoted)
      #option-list-no
  .reveal-modal.large#new-option
    h4 New option
    input(type='text', placeholder='Title')
    textarea(placeholder='Add a new option')
    p
      a(href='#', data-reveal-id='new-option').new-option-button.small.button.radius Submit