extends layout

block content
  header.row
    .small-8.columns
      h4= group.name
      p= group.description
      h4.center Ongoing decisions
      .panel
        .buttons
          p
            a(href='/decision/').small.button.radius Vote
        .info
          h5 What to do with the parking lot on Ridge?
          p Hello