extends layout

block content
  header.row
    .small-9.columns
      h3= group.name
    .small-3.columns
      ul
        li
          a(href='#') Voting rules
        li
          a(href='/') Administrators
  .row
      .small-7.columns
        dl.sub-nav
          dt Decisions:
          dd.active
            a(href='#') All
          dd
            a(href='#') Ongoing
          dd
            a(href='#') Passed
          dd
            a(href='#') Not passed
      .small-2.columns
        p
          a(href='#', data-reveal-id='new-proposal').new-proposal-button.small.secondary.button.radius New decision
      .small-3.columns
        h5.center 8 members
  .row
    .small-9.columns
      .panel
        .buttons
          p
            a(href='/decision/').small.secondary.button.radius Vote
        .info
          h5 What should we have for dinner?
          p 3 new proposals since you last voted
      .panel
        .buttons
          p
            a(href='/decision/').small.button.radius Vote
        .info
          h5 CZ House Improvement Manager 2013-2014
          p Vote on the HI Manager for the upcoming year
      h5 Ended
      .panel.yes
        .buttons
          p
            a.small.disabled.success.button.radius 88%
        .info
          h5 What to do with the parking lot on Ridge?
          p Passed: Community garden
      .panel.yes
        .buttons
          p
            a.small.disabled.success.button.radius 67%
        .info
          h5 When to invade Cloyne?
          p Passed: Wednesday
      .panel.no
        .buttons
          p
            a.small.disabled.alert.button.radius 21%
        .info
          h5 Let's remove the offensive mural
          p Failed: not enough votes in time
    .small-3.columns
      ul
        li Rodrigo Ochigame
        li Tony Chen
        li Aly Kopel
        li Spencer Hitchcock
        li Rishi Sharma
        li Aura Dave
        li Stephanie Gardner
        li Connor Braa