extends layout

block content
  header.row
    .small-4.small-centered.columns
      h3 Register
      form(method='POST', action='/register')
        p
          label(for='name') Name
            input(type='text', value='', name='name', placeholder='Your name or alias')
        p
          label(for='email') Email
            input(type='text', value='', name='email', placeholder='Email address')
        p
          label(for='password') Password
            input(type='password', value='', name='password', placeholder='Password')
        p
          input(type='submit', value='Register')