/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Decision
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

div p, div span {
	color: #666;
}
li {
	list-style-type: none;
}
header {
	padding-top: 20px;
}
footer #menu {
	padding-bottom: 20px;
	text-align: right;
}

.center {
	text-align: center;
}

.panel { background: #fff; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 0; -webkit-box-shadow: 0 1px 3px 0 #eee; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
.panel.callout { background: #2ba6cb; color: #fff; border-color: #2284a1; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff; }
.panel.callout .button { background: white; border: none; color: #2ba6cb; text-shadow: none; }
.panel.callout .button:hover, .panel.callout .button:focus { background: rgba(255, 255, 255, 0.8); }
.panel.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.panel .buttons {
	float: left;
	text-align: right;
}
.panel p {
	color: #666;
}
.panel .buttons p {
	margin: 10px;
	padding-right: 5px;
}
.panel .buttons .button {
	width: 60px;
	margin: 0;
}
.panel .info {
	margin: 10px;
}
.panel .info p {
	margin: 0;
}
.panel.yes, .panel.no {
	min-height: 0 !important;
}
.panel.yes {
	background-color: #efc;
}
.panel.no {
	background-color: #fee;
}


/* -----------------------------------------
   Decision
----------------------------------------- */

#question {
	padding-bottom: 20px;
}
#info {
	text-align: right;
}
#info span {
	line-height: 1.5em;
}

.proposal.panel {
	min-height: 100px;
}
.proposal.panel .discussion-link {
	float: right;
	margin: 10px;
}
.proposal.panel.remaining {
	min-height: 0;
	text-align: center;
}

.qr-code {
	float: right;
	height: 80px;
}
.new-proposal-button {
	float: right;
}

.argument-list li {
	list-style-type: none;
}
.argument-list li .buttons {
	float: right;
	display: none;
}
.argument-list li .author {
	color: #000;
	margin-right: 10px;
}
.argument-list li .timestamp {
	color: #fff;
}
.argument-list li .argument:hover > .timestamp {
	color: #ccc;
}
.argument-list li .argument:hover > .buttons {
	display: block;
}
.new-argument-input {
	height: 100px;
}
.new-argument-button {
	float: right;
}
#new-proposal textarea {
	height: 300px;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */

